a {
	position: relative;
}

a:link, a:visited {
	text-decoration: none;
	color: #a46565;
}

a:hover, a:active {
	color: #caa5a5;
}

a:before, .hasHover:before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	bottom: 0;
	left: 0;
	opacity: 0.33;
	background-color: #caa5a5;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

a:hover:before, .hasHover:hover:before{
  visibility: visible;
	text-decoration: none;
  width: 100%;
}

.noHover:before {
	height: 0%;
}

.navbar-brand {
	color: DarkSlateGray;
}

h1, h2, h3, h4, th {
	color: DarkSlateGrey;
}

.katex-display {
	overflow-x: auto;
	overflow-y: hidden;
}

/* .katex {
	font-size: 1.0em;
} */
#date {
	/* font-size: 0.9em; */
	color: LightSlateGrey;
	display: block;
}
