#plotContainer {
	display: grid;
	justify-items: center;
	grid-template: "options plotButton" auto
								 "error error" auto
								 / auto auto;
}

#plot {grid-area: plot;}
#plotButton {grid-area: plotButton;}
#options {grid-area: options;}
#error {
	color: IndianRed;
	grid-area: error;
}
