#flexContainer {
	width: 100%;
	height: auto;

	display: flex;
	justify-content: center;
	align-items: center;
}

#controls {
	text-align: center;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: auto;
}

#slider {
	width: 60%;
	height: auto;
}
