hr {
	clear: both;
	color: LightSlateGrey;
	width: 90%;
	float: right;
}

nav {
	overflow: hidden;
	float: right;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	background-color: LightGrey;
	float: left;
	font-size: 26px;
	padding: 8px;
}

a:link, a:visited {
	text-decoration: none;
	color: DarkSlateGrey;
}

a:hover, a:active {
	text-decoration: underline;
	color: LightSlateGrey;
}

#list {
	clear: both;
	/*background-color: LightGrey;*/
	width: 80%;
	margin: auto;
	font-size: 32px;
}

#list ul {
	list-style-type: none;
}
