hr {
	clear: both;
	border: 1px solid LightSlateGrey;
	width: 100%;
}

nav {
	overflow: hidden;
	float: right;
	margin-bottom: 10px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	background-color: LightGrey;
	float: left;
	font-size: 3vw;
	padding: 10px;
}

a:link, a:visited {
	text-decoration: none;
	color: DarkSlateGrey;
}

a:hover, a:active {
	text-decoration: underline;
	color: LightSlateGrey;
}
