a:link, a:visited {
	text-decoration: none;
	color: DarkSlateGrey;
}

a:hover, a:active {
	text-decoration: underline;
	color: LightSlateGrey;
}

.navbar-brand {
	color: DarkSlateGray;
}

h1, h2, h3, h4, th {
	color: DarkSlateGrey;
}

.katex-display {
	overflow-x: auto;
	overflow-y: hidden;
}

/* .katex {
	font-size: 1.0em;
} */
#date {
	/* font-size: 0.9em; */
	color: LightSlateGrey;
	display: block;
}
