body {
	clear: both;
	font-size: 1.2em;
	width: 90%;
	margin: auto
}

.katex-display {
    overflow-x: auto;
		overflow-y: hidden;
}

.katex {
	font-size: 1.0em;
}

h1, h2 {
	color: DarkSlateGrey;
}

#date {
	font-size: 0.9em;
	color: LightSlateGrey;
	display: block;
}

figcaption {
	color: LightSlateGrey;
	text-align: center;
	font-size: 0.9em;
}

.center {
	margin: auto;
	display: block;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}
table td {
  border: 2px solid DarkSlateGrey;
}

.img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-2 {
	flex: 50%;
}

.img-3 {
	flex: 33.33%;
}
