#body {
	clear: both;
	width: 80%;
	margin: auto
}

#date {
	font-size: medium;
	color: LightSlateGrey;
	display: block;
}

figcaption {
	color: LightSlateGrey;
	text-align: center;
	font-size: 14px;
}

.center {
	margin: auto;
	display: block;
}

.img-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.img-container {
	display: flex;
}

.img-2 {
	flex: 50%;
	padding: 5px;
}

.img-3 {
	flex: 33.33%;
	padding: 5px;
}
