<!doctype html>
<html lang="en">

<head>
	{%include meta.html%}

	{%if page.katex%}
	<script src="{{site.baseurl}}/js/katexConfig.js"></script>
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" as="style" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous" onload="this.onload=null;this.rel='stylesheet'">
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous" onload="katexLoad()"></script>
	{%endif%}

	<link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" as="style" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="stylesheet" href="{{site.baseurl}}/css/overall.css">
	<style>
		body {
			padding-bottom: 25px;
		}

	</style>
</head>

<body>
	{%include navigation.html%}

	<div class="container">
		<h3 class="h3">{{page.title}}</h3>
		<span id="date">{{page.date | date: "%B %-d, %Y"}}</span>
		<br>

		{{content}}
	</div>
</body>

</html>
